@using Microsoft.Graph.Models
@using SnackApp.Models
@using Entities

<h3>Deelnemen aan bestaande groepsbestelling</h3>

<div>
    <a class="btn btn-primary" @onclick="AddOrderToGroupOrder">Opslaan en verzenden</a>
</div>



@code {

    OrderVM userOrder;
    
    [Parameter]
    public GroupOrderVM GroupOrder { get; set; }
    
    [Parameter]
    public Action<OrderVM> AddOrderToGroupOrderCallback { get; set; }

    private void AddOrderToGroupOrder()
    {
        AddOrderToGroupOrderCallback?.Invoke(userOrder);
    }
}