@using Microsoft.Graph.Models
@using SnackApp.Models
<h3>JoinGroupOrder</h3>
<div>
    <a class="btn btn-primary" @onclick="() => JoinGroupOrder(order)">Toevoegen</a>
</div>
@code {

    private void JoinGroupOrder(OrderVM order)
    {
        
    }
}